<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
<body>
<div class="container-content">
    <section class="signin">
        <div class="signin__block account">
            <h2 class="account__title">Вход в личный кабинет</h2>
            <div class="account__btns">
                <button class="btn-reset account-in__btn account-in__btn--active">Войти</button>
                <button class="btn-reset account-in__btn">Зарегистрироваться</button>
                <span class="account__line"></span>
            </div>

            <input class="account__input" type="text" placeholder="E-mail">
            <input class="account__input" type="password" placeholder="Введите пароль">

            <span class="account__descr">
        На указанный e-mail будует выслана инструкциии для начала работы с Личным кабинетом</span>

            <label class="privacy">
                <input class="privacy__custom-checkbox" type="checkbox">
                <span class="privacy__text">согласен на обработку  <a href="" class="privacy__link">персональных данных</a></span>
            </label>

            <button class="btn-reset account__btn-send">Отправить</button>

            <span class="account__descr">Регистрация личного кабинета позволяет оплачивать онлайн.
            Не стоять в очереди, а сразу проходить на прием.</span>


        </div>
        <div class="signin__block no-register">
            <h2 class="account__title">Без регистрации</h2>
            <a href="" class="no-register__link no-register__link--active first__link">Запись на платный прием и приме по ДМС</a>
            <a href="" class="no-register__link">Запись для работников ОАО "РЖД" г. Хабаровск</a>
            <a href="" class="no-register__link">Вызвать врача на дом. Поликлиника №2</a>
        </div>
    </section>
</div>

</body>
</html>